* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-heading: "Staatliches", sans-serif;
  --fs-heading: 4rem;
  --ff-header2: "Palanquin", sans-serif;
  --ff-header2-desktop: "Roboto", sans-serif;
  --ff-footer: "Open Sans", sans-serif;

  --fc-header2color: hsl(274, 84%, 12%);
  --bg-span: hsla(312, 91%, 96%, 1);
  --bg-page: hsla(233, 100%, 97%, 1);
  --bg-main-destkop: hsla(0, 0%, 100%, 1);
  --bg-header-desktop: hsla(218, 17%, 62%, 1);
}

.page {
  background: #8e9aaf;
  width: 100%;
  min-width: 38.4rem;
  max-width: 38.4rem;
  margin: 0 auto;

  background-color: var(--bg-page);
}


.logo {
    display: flex;
    
    margin: 0 auto;
    justify-content: center;
    
    padding: 3.2rem 0 3.2rem;
}

header {
  width: 38.4rem;
  height: 27.9rem;

  background: #8e9aaf;
  margin: 0 auto;
}

header h1 {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 4.9rem;

  font-family: var(--ff-heading);
  font-size: var(--fs-heading);
  line-height: 34px;

  letter-spacing: 0.05em;

  color: #ffffff;

  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25);
  text-align: center;

  text-transform: uppercase;

  background: #cbc0d3;
}


h2 {
    font-family: var(--ff-header2);
    font-size: 2rem;
    line-height: 1.5rem;
    font-weight: 400;
    text-align: center;
    
    color: var(--fc-header2color);
    
    padding: 1.4rem 3.2rem 6.3rem;

    max-width: 38.4rem;
    
    margin: 0 auto;
}
.main {

    display: grid;

    gap: 3.2rem;
  background-color: #eff1ff;
    width: 100%;
   

  margin: 0 auto;

  padding: 1.4rem 3.2rem 6rem;
}

.main .card {
  position: relative;
  
 
  display: flex;

  justify-content: center;

 
}

.main .card img {
  border-radius: 20px;
  object-fit: cover;

    margin: 0 auto;

  animation: downtop 700ms reverse;
}

.main .card span {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 11.2rem;
  height: 3.5rem;
  font-family: "Staatliches";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;

  letter-spacing: 0.05em;

  color: #4a4e69;
  background: var(--bg-span);
  border-radius: 2rem;
  top: 1.6rem;
  right: 1.6rem;

  animation-name: topdown;
  animation-duration: 2500ms;
}

footer {
  font-family: var(--ff-footer);
  font-size: 14px;
  line-height: 28px;

  text-align: center;

  color: #4a4e69;

  mix-blend-mode: normal;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes downtop {
  100% {
    opacity: 0;
    transform: translateY(15px);
  }
}

 @media (min-width: 700px) { 

  .page {
    display: grid;
    grid-template-areas: "A B";
    
    grid-template-columns: 1fr 3fr;
    
    width: 100%;

    max-width: 128rem;


  }

  .desktop {

    width: 37.7rem;

    grid-area: A;

    background-color: var(--bg-header-desktop);

   
  }


  .desktop h2 {
    color: #FFFFFF;
  }

  :root {
    --fs-heading: 4.8rem;
  }


  header { 
     width: 100%;
  }

  h1 {
    grid-area: G;
  }

  .main {

    padding: 5rem 8rem 5rem;

    gap: 3.2rem;

    width: 100%;
    /* max-width: 128rem; */
    grid-area: B;

    display: grid;
    grid-template-areas: "C D E" 
                         "F D H"   
                         "F G H"
                         "L L L";


  

  }


  .main .card img {
    width: 22rem;

    
  }

  .main .card:nth-child(1) {
    grid-area: C;
    
  }

  .main .card:nth-child(2) {
    grid-area: D;
  }

  .main .card:nth-child(3) {
    grid-area: E;
  }

  .main .card:nth-child(4) {
    grid-area: F;
  }

  .main .card:nth-child(5) {
    grid-area: G;
  }

  .main .card:nth-child(6) {
    grid-area: H;
  }


  footer {
    grid-area: L;
  }
}
